/* RESET CSS */

/* Reset de todas as margens, paddings e box-sizing */
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Definição da fonte base para o body */
body{
    font-size: 100%;
    list-style-type: none;
}

/* Estilo para os títulos */
h2{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Remoção do estilo de lista para list items */
li{
    list-style: none;
}

/* Estilo para botões */
button {
    background: none;
    border: none;
}
